<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="system.mapper.UserMapper">
	<resultMap type="User" id="user_map">
		<id property="id" column="id" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="idcard" column="id_card" />
		<result property="telephone" column="telephone" />
		<result property="register_date" column="register_time" />
		<result property="gender" column="gender" />
	</resultMap>
	<resultMap type="UserInfo" id="userInfo_map">
		<association property="user" javaType="User">
			<id property="id" column="id" />
			<result property="password" column="password" />
			<result property="name" column="name" />
			<result property="idcard" column="id_card" />
			<result property="telephone" column="telephone" />
			<result property="register_date" column="register_time" />
			<result property="gender" column="gender" />
			<result property="type" column="type" />
		</association>
		<association property="department" javaType="Department">
			<id property="id" column="d_id" />
			<result property="name" column="d_name" />
		</association>
	</resultMap>
	<!-- insert -->
	<select id="getDepartmentCount" resultType="int">
		select count(*) from department
	</select>
	<select id="getUserById" resultMap="user_map">
		select * from department 
		where id = '${id}' and password = '${password}' 
	</select>
	<select id="getUserInfo" resultMap="userInfo_map">
		select 
			department.id as d_id, 
			department.name as d_name, 
			user.* ,user_type.*
		from 
			user, department, user_type
		where 
			user.department_id = department.id and
			user.id = '${id}' and 
			user.password = '${password}' and 
			user.user_type_id = user_type.id
	</select>
	<!-- update -->
	<update id="updateUserTel">
		update user set telephone = '${telephone}'
		where id ='${user_id}'
	</update>
	<update id="updateUserPsd">
		update user set password = '${newPsd}'
		where id = '${user_id}'
		and password = '${psd}'
	</update>
</mapper>